.expense-date {
  border: 1px solid white;
  border-radius: 6px;
  padding: 7px;
  width: 5.5rem;
  height: 5.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 2px 8px rgba(217, 232, 240, 0.25);
}

.expense-date__day {
  font-size: 28px;
  font-weight: 700;
}
.expense-date__month {
  font-size: 20px;
  font-weight: 500;
}
.expense-date__year {
  font-size: 14px;
}
