.new-expense {
  background-color: rgb(53, 70, 70);
  text-align: center;
  margin: 0 auto;
  padding: 10px 25px;
  max-width: 80%;
}

.new-expense__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  font-size: large;
  max-width: 40%;
  margin: 0 auto;
}

.new-expense__control {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.new-expense__control > label {
  padding-right: 30px;
}
.new-expense__control > input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 15rem;
  max-width: 100%;
}
.new-expense__actions {
  text-align: center;
  margin-bottom: 20px;
}

.new-expense__actions > button {
  font-size: larger;
  background-color: rgb(6, 32, 32);
  color: white;
  padding: 5px 25px;
  cursor: pointer;
}

.new-expense__actions button:hover {
  background-color: rgb(75, 76, 146);
}

@media (max-width: 600px) {
  .new-expense__controls {
    flex-direction: column;
  }
}
