* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nato Sans JP", sans-serif;
}

body {
  margin: 0;
  color: aliceblue;
  background-color: rgb(31, 46, 59);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
